<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Adduser</title>
    </head>
    <body>
        <form class="" action="{:U('addUser')}" method="post">
            <input type="text" name="tel" id="tel" value="" placeholder="电话"/>
            <input type="text" name="nickname" id="nickname" value="" placeholder="名字"/>
            <input type="submit" value="提交"/>
         </form>
    </body>
</html>
