.moduleMenu {
     position:absolute;
     top:50px;
     bottom:0;
     background-color:pink;
     width:300px;
     text-align:center;
}

.main{
    position:absolute;
    top:50px;
    bottom:0;
    background-color:yellow;
    width:100%;
    margin-left:300px;
}
