<title>auth_thinkphp</title>
<meta name="keywords" content="thinkphp,tt12t,amazeui">
<meta name="description" content="i am building wheel">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__AMAZEUI__/css/amazeui.css" type="text/css" media="all">
<link rel="stylesheet" href="__PUBLIC__/admin/base.css" type="text/css" media="all">
<block name="css"></block>
<script src="__PUBLIC__/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__AMAZEUI__/js/amazeui.js" type="text/javascript" charset="utf-8"></script>
